@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.coch{
  font-weight: 700 !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.plan{
  color: rgb(29, 175, 29);
  font-size: x-large;
}


.navbar-nav a{
  font-size: 15px;
  font-weight: 500;
}
.navbar .nav-link{
  border-bottom: 2px solid transparent;
}

.nav-link:focus, .nav-link:hover{
  
  color: rgb(37, 194, 37)!important;
  border-bottom: 2px solid rgb(46, 199, 26);
}